@using Bookish.Models.Requests;
@model CreateBookRequest;
@{
    ViewData["Title"] = "Create Book";
}

<div class="text-center">
    <h1 class="display-4">Create New Book</h1>
    <form asp-controller="Book" asp-action="CreateBook" method="post">
        Title: <input asp-for="Title" /><br />
        Author IDs: <input asp-for="AuthorIds" /><br />
        Genre ID: <input asp-for="GenreId" />
        <button type="submit" class="btn btn-success">Create book</button>
    </form>
</div>