@model Book
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    <h1 class="display-4">Book Page</h1>
    <h3 class="m-3 p-3 w-50 mx-auto border border-primary rounded">@Model.Title<br /><small class="text-muted">Written
            by
            @Model.GetAllAuthors()</small></h3>
    <p>@Model.Genre.Type</p>
    <p>@Model.FictionVsNonFiction</p>
    <button class="btn btn-success">Check Out Book</button>
</div>
