@model Book
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    <h1 class="display-4">Book Page</h1>
    @* <h3 class="m-3 p-3 w-50 mx-auto border border-primary rounded">@Model.Title<br /><small
        class="text-muted">Written
        by
        @Model.Author</small></h3>
        <img class="w-25 m-1" src=@Model.CoverUrl alt="Books" />
        <p>@Model.Blurb</p> *@
    <button class="btn btn-success">Check Out Book</button>
</div>
