@model Book
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    <h1 class="display-4">Book Page</h1>
    <p>@Model.Title</p>
    <img src = @Model.CoverUrl alt= "Books" />
    <p>@Model.Blurb</p>
</div>
